<h2>Users You Are Following</h2>
<% if @following&.any? %>
  <ul>
    <% @following.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>
<% else %>
  <p>You are not following anyone yet.</p>
<% end %>
