<h2>Your Followers</h2>
<% debugger %>
<% if @followers&.any? %>
  <ul>
    <% @followers.each do |user| %>
      <% debugger %>

      <li><%= user.username %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have no followers yet.</p>
<% end %>
